<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserDataFile" value="user.txt"/>
    <add key="TweetDataFile" value="tweet.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>